html,
body {
  overflow-x: hidden; /* Add this to hide horizontal overflow */
}

body,
h1,
h2,
p,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: #2c59ca;
  color: #fff;
}

/* General styles for the app container */
.app-container {
  width: 100%;
  margin: 0 auto;
}

/* Banner Section */
.banner-container {
  background: url("bannerBGR.jpg") center/cover;
  height: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.banner-container h1 {
  font-size: 5em;
  margin-bottom: 20px;
}

.banner-container p {
  font-size: 3em;
  margin-bottom: 120px;
  max-width: 60%;
  color: rgb(255, 255, 255);
}

.banner-btn {
  border: none;
  font-size: 2em;
  cursor: pointer;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 14px;
  text-decoration: none;
  color: white;
  background-color: #3886b9;
  transition: background-color 0.4s, color 0.3s;
}

.banner-btn:hover {
  background-color: white;
  color: #3886b9;
}

/* About Us Section */
.aboutus-container {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.aboutus-container h2 {
  font-size: 4.6em;
  margin-bottom: 50px;
}

.aboutus-container h4 {
  font-size: 1.4em;
  color: grey;
}

.aboutus-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Images on the Left */
.image-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Updated styling for images */
.aboutus-content img {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  padding-left: 120px;
}

/* Text on the Right */
.text-content {
  text-align: left;
  padding-right: 120px;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

/* Section with Image Upload Button */
.image-upload-section {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(235, 235, 235, 0.699);
}

.image-upload-section h2 {
  margin-top: 40px;
  font-size: 2em;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  align-items: center;
}

.upload-container input[type="file"] {
  display: none;
}

.image-upload-section label {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #3886b9;
  transition: background-color 0.4s, color 0.3s;
}

.image-upload-section label:hover {
  background-color: rgba(235, 235, 235, 0.628);
  color: #3886b9;
}

.image-upload-section p {
  margin-bottom: 20px;
  font-size: 2em;
}

/* Output Section */
.output-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 75px;
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */

  .aboutus-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
  }

  .text-content {
    margin-right: 0;
    text-align: center;
  }

  .text-content p {
    max-width: 100%;
  }

  .image-stack img {
    margin-left: 0;
  }

  /* Additional styles for the banner headings on smaller screens */
  .banner-container h1 {
    font-size: 2em;
  }

  .banner-container p {
    font-size: 1.5em;
    max-width: 80%;
  }
}

.upload-container button {
  background-color: #4caf50;
  color: white;
  padding: 15px 30px;
  font-size: 1.2em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px; /* Adjust the spacing between the two buttons */
  transition: background-color 0.4s, color 0.3s;
}

.upload-container button:hover {
  background-color: white;
  color: #4caf50;
}

/* Output Section Styles */
.output-section {
  text-align: center;
  margin-top: 20px;
}

.output-section h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

.output-section p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

/* Disease Information Section Styles */
.disease-info-section {
  text-align: center;
  margin-top: 20px;
}

.disease-info-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.disease-info-section p {
  font-size: 1.2em;
  color: #333;
}

.disease-info-section h3 {
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 5px;
}

.footer-section {
  margin-top: 40px;
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-section .left-content {
  text-align: left;
}

.footer-section .right-content {
  text-align: right;
}

.footer-section p {
  margin: 0;
  font-size: 1em;
}

/* Camera Overlay Styles */
.camera-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.capture-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000; /* Ensure button is always clickable */
  padding: 15px 30px;
  font-size: 1.1em;
  color: white;
  background-color: #3886b9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.3s;
}

.capture-btn:hover {
  background-color: white;
  color: #3886b9;
}

.captured-image-container img {
  /* Use this to adjust the display size of the captured image, if necessary */
  max-width: 95vw;
  max-height: 95vh;
  margin-top: 20px; /* Adjust as needed */
}

.image-upload-section input[type="file"] {
  display: none;
}

.image-display-section img {
  max-width: 100%;
  max-height: 400px; /* Adjust based on your layout */
  display: block;
  margin: 20px auto; /* Center the image */
}

.inlineStyle {
  color: #3f8fc595;
}

.upload-btn {
  background-color: #3886b9;
  color: white;
  padding: 20px 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.4em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px; /* Adjust the spacing between the two buttons */
  transition: background-color 0.4s, color 0.3s;
}

.upload-btn:hover {
  background-color: white;
  color: #3886b9;
}

.submit-btn {
  background-color: #7ea56b;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 10px; /* Adjust the spacing between the two buttons */
  transition: background-color 0.4s, color 0.3s;
}

.submit-btn:hover {
  background-color: white;
  color: #7ea56b;
}

.instructions-section {
  margin-top: 80px;
  background-color: rgba(235, 235, 235, 0.699);
  border-radius: 8px;
  padding: 20px;
}

.instructions-section h2 {
  margin-left: 20px;
  font-size: 3em;
  color: #333;
  margin-bottom: 16px;
}

.instructions-section ul {
  list-style: inside square;
  margin-left: 10px;
}

.instructions-section li {
  margin-bottom: 16px;
  font-size: 1.3em;
  color: #555;
  line-height: 1.6;
}

.disease-info-links a {
  display: block;
  margin-bottom: 8px; /* Optional: adds some space between the links */
}
